# Application
APP_NAME=MyProject
DEBUG=true

# OPEN AI
OPENAI_API_KEY=YOUR_OPENAI_API_KEY
OPENAI_MODEL="GPT-5.4 nano"


# JWT Auth
# create a new secret key with:
#   openssl rand -hex 32
# or
#   python -c "import secrets; print(secrets.token_urlsafe(64))"
SECRET_KEY=super-secret-random-key